<div class="list-group border border-muted h-100">
    <a routerLink="home" routerLinkActive="border border-success rounded bg-success text-white"
        class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                Inicio
            </h5>
        </div>
    </a>
    <a routerLink="upload" routerLinkActive="border border-success rounded bg-success text-white"
        class="list-group-item list-group-item-action" aria-current="true">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">
                Traducir PDF
            </h5>
            <small>
                Free
            </small>
        </div>
        <small>
            Selecciona un archivo PDF para subir y traducir
        </small>
    </a>
</div>