<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criselito's Comics</title>
</head>
<body>
    <div class="bg-success p-2 text-white bg-opacity-75">
        <h3>
            <img src="assets\icon.png" class="img-fluid" 
             width="80" 
            height="80">
            Criselito's Comics
        </h3>
    </div>
    <p>

    </p>
    <div class = "row">
        <div class="col">
            <h1> My uploaded documents</h1>
        </div>
        <div class="col">
            <button type="button" class="btn btn-success">
                Upload new document
            </button>
        </div>
    </div>
    
    <div class="container "  >
        
      
        
    </div>
</body>
</html>
