<div class="card text-center" style="height: 100vh;">
    <div class="card-header text-muted">
        CriselitoComics
    </div>
    <div class="card-body p-0">
        <div class="container-fluid p-0 h-100">
            <div class="row p-0 m-0 h-100">
                <div class="col-3 p-0">
                    <cricom-navbar></cricom-navbar>
                </div>
                <div class="col p-0">
                    <router-outlet></router-outlet>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-muted">
        CriselitoComics
    </div>
</div>