<div div class="container-sm">
    <form  >
        <div class="form-group col-md-6">
          <label for="name" class="sr-only">Name</label>
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Name"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-6">
          <label for="description" class="sr-only">Description</label>
          <input
            type="text"
            name="description"
            id="description"
            placeholder="description"
            class="form-control"
          />
        </div>
        <div class="form-group col-md-6">
            <label for="upload" class="sr-only">Upload file</label>
            <input type="file"
                    name="upload"
            />
        </div>
      </form>
    </div>